<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        body {
            background: #daffc6;
        }
        .heaad{
            margin-left: 10px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div><img src="spring.jpg" class="img-fluid" width="100"> </div>
    <div class="heaad">   <a class="navbar-brand"  th:href="@{/main}">
        <i class="fa fa-trash-o fa-lg"></i> Main Page </a></div>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/inventory}">
                    <i class="fa fa-trash-o fa-lg"></i>inventory </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}" >
                    <i class="fa fa-trash-o fa-lg"></i> registration </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add" >
                    <i class="fa fa-trash-o fa-lg"></i> Add new product </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${isAdmin}" th:href="@{/admin}"> Admin Page </a>
            </li>
        </ul>
    </div>

</nav>
<center>
<form  th:action="@{/main}" method="post">
    <h1>Add new product </h1>
        <label for="name">Name of product :</label>
    <div class="col-sm-10">
        <input type="text" id="name" name="name" placeholder="Name of product">
    </div><br>
        <label for="Model">Model :</label>
    <div class="col-sm-10">
        <input type="text" id="Model" name="modelProduct"placeholder="Model">
    </div><br>
    <label for="type">Type :</label>
    <div class="col-sm-10">
        <input type="text" id="type" name="type"placeholder="type">
    </div><br>

        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit </button>
        </div>
</form>
</center>
 </body>
</html>