<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
        body {
            background: #daffc6;
        }
        .param{
            margin-left: 5%;
        }
        .heaad{
            margin-left: 10px;
        }
    </style>

</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div><img src="spring.jpg" class="img-fluid" width="100"> </div>
    <div class="heaad">   <a class="navbar-brand"  th:href="@{/main}">
        <i class="fa fa-trash-o fa-lg"></i> Main Page </a></div>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/inventory}">
                    <i class="fa fa-trash-o fa-lg"></i>inventory </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}" >
                    <i class="fa fa-trash-o fa-lg"></i> registration </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add" >
                    <i class="fa fa-trash-o fa-lg"></i> Add new product </a>
            </li>
        </ul>
    </div>

</nav>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
 <center>
<div class="param">
    <h1>Login page</h1>
    <br>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <b> <label> Username: </label></b><br>
            <input type="text"
                   id="username"
                   name="username"
                   placeholder="Username"/>
        </div>
        <div class="form-group">
            <b> <label> Password: </label></b> <br>
            <input type="password"
                   id="password"
                   name="password"
                   placeholder="Password"/>
        </div>

        <button type="submit" name="login-submit"   value="Log In"  class="btn btn-primary">Sign in</button>
        <br>
        <div class="form-group">
            <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
        </div>
    </form>
</div>
 </center>

</body>
</html>